{
  "env": {
    "node": true,
    "jest/globals": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest",
    "promise"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "extends": [
    "plugin:@shopify/esnext",
    "plugin:promise/recommended"
  ],
  "rules": {
    "no-process-env": "off",
    "no-console": "off"
  }
}